@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800;900&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    font-family: 'Work Sans';
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-logo {
    display: flex;
    align-items: center;
}

.gamer-logo {
    width: 85px;
    height: 40px;
    padding-right: 20px;
}

.gamer-txt {
    font-weight: 700;
    color: #0B0223;
    font-size: 45px;
}

.G-color {
    color: #FF42A5;
}

.nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    padding: 54px;
    gap: 32px;
}

.nav-menu a {
    text-decoration: none;
    list-style: none;
    color: #3C354F;

}

.followus-btn {
    border: none;
    width: 262px;
    height: 56px;
    border-radius: 8px;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;

}

/* nav done */

.first-part {
    display: flex;
    align-items: center;
    background-image: url('./images/Group\ 14.png');
    background-repeat: no-repeat;

}

.first-left-text {
    width: 50%;
    text-align: left;
}

.play-txt {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.goat {
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 24px;
}

.goat-ul {
    color: #534C64;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    list-style: none;
}

.buttons {
    align-items: center;
    text-align: center;
    padding-top: 41px;
}

.sgn-btn {
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;

}

.go-btn {
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.first-right-img {
    width: 50%;
}

/* first part ends here */